################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Authorization/.vs/Authorization/v15
/Authorization/Authorization/bin/Debug/netcoreapp2.1
/Authorization/Authorization/Properties
/Authorization/Authorization/obj
/Authorization/.vs/Authorization/DesignTimeBuild
